
.timeline-TweetList {
    display: flex;
    flex-wrap: wrap;
}
.timeline-TweetList-tweet {
    width: 50%;
}
.SandboxRoot.env-bp-970 .timeline-Tweet-text {
    font-size: 16px;
    line-height: 20px;
}