.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-item { 
    width: 260px;
    height: 200px;
    /* vertical gutter */
    margin-bottom: calc( var(--gutter) / 3);
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item--height2 {
    height: 300px;
}
.grid-item--height3 {
    height: 400px;
}
.grid-item--height4 {
    height: 500px;
}
.lettering {
    // filter: blur(2px);
    overflow: hidden;
    & p {
        font-size: 60px;
        z-index: 1000;
    }
    & img {
        position: absolute;
        filter: blur(4px);
        
    }
}