.gridP:after {
    content: '';
    display: block;
    clear: both;
}
.gridP {
    & .grid-item { 
        width: 340px;
        height: auto;
        /* vertical gutter */
        background-color: cadetblue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}
.publi {
    &__image {
        padding: 20px 20px 0 20px;
    }
    &__txt {
        padding: 0 20px;
    }
    &__more {
        text-align: right;
    }
    & .chapeau {
        margin-bottom: 30px;
    }
}
.pubLoader {
    text-align: center;
    background-color: antiquewhite;
    margin: 20px auto;
    width: 200px;
    height: 30px;
    line-height: 30px;
}