.publi {
    &__image {
        padding: 20px 20px 0 20px;
    }
    &__txt {
        padding: 0 20px;
    }
    &__more {
        text-align: right;
    }
    & .chapeau {
        margin-bottom: 30px;
    }
}
.pubLoader {
    text-align: center;
    background-color: antiquewhite;
    margin: 20px auto;
    width: 200px;
    height: 30px;
    line-height: 30px;
}